{% extends 'base.html.twig' %}

{% block verticallyCenter %}
	<div class="card">
		<div class="card-body rounded border border-primary">
			<h1 class="card-title mb-5 d-flex align-items-center">
				<ion-icon name="people-outline" class="d-sm-inline d-none mr-2"></ion-icon>
				<span>
					My account
					{{ user.viewCode }}
				</span>
			</h1>
			<div class="form">
				{{ form(form) }}
				</div>
			</div>
		</div>

	{% endblock %}
