{% extends 'base.html.twig' %}

{% block verticallyCenter %}

	<div class="col-lg-5 col-md-10 col-sm-10 col-12">
		<div class="card">
			<div class="card-body rounded border border-primary">
				<h1 class="card-title mb-5 d-flex align-items-center">
					<ion-icon name="arrow-forward-circle-outline" class="mr-2"></ion-icon>
					<span>
						Let's create your account!</span>
				</h1>
				<div class="form">
					{{ form(form) }}
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
