{% extends 'base.html.twig' %}

{% block verticallyCenter %}

	<div class="card">
		<div class="card-body rounded border border-primary">
			<h1 class="card-title mb-5 d-flex align-items-center">
				<ion-icon name="arrow-forward-circle-outline" class="d-sm-inline d-none mr-2"></ion-icon>
				<span>Reset your password</span>
			</h1>
			<div class="form">
				{{ form_start(resetForm) }}
				{{ form_errors(resetForm) }}
				{{ form_row(resetForm.plainPassword) }}
				<button class="btn btn-primary">Reset password</button>
				{{ form_end(resetForm) }}
			</div>
		</div>
	</div>

{% endblock %}
