<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<title>
			{% block title %}Tabs@app
			{% endblock %}
		</title>
		{% block stylesheets %}

			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
			{{ encore_entry_link_tags('app') }}

			<!-- Renders a link tag (if your module requires any CSS)
																																																																																																																					                    <link rel="stylesheet" href="/build/app.css"> -->
			<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
		{% endblock %}
	</head>
	<body>
		{{ include ("components/navbar.html.twig") }}

		{% block body %}
			<div style="margin : 125px 0;" class="container-fluid">
				<div
					class="row align-items-center justify-content-center">
					{# <div class="col-lg-5 col-md-10 col-sm-10 col-12"> #}
					<div class="col-lg-6 col-md-8 col-sm-10 col-12">
						{% block verticallyCenter %}{% endblock %}
					</div>
				</div>
			</div>
		{% endblock %}

		{{ include ("components/footbar.html.twig") }}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

			<!-- Renders app.js & a webpack runtime.js file
																																																																																																																					                <script src="/build/runtime.js"></script>
																																																																																																																					                <script src="/build/app.js"></script> -->
		{% endblock %}
	</body>
</html>
